# Build Stuff
.gradle
/build/
/target/
*.class

# Local configuration file (sdk path, etc)
/local.properties

# Eclipse
.classpath
.project

# Idea
.idea/
*.iml

# Windows & OSX garbage
.DS_Store
Thumbs.db
